@model List<Detalle_Exquisito.Models.detalle_Pedido>

<table class="table table-bordered border-primary">
    <thead style="background-color: rgba(115, 163, 137,0.8); color: #000;">
        <tr class="table-active">
            <td>Cantidad</td>
            <td>Fecha Registrado</td>
            <td>Producto</td>
            <td>Dedicatoria</td>
            <td>Subtotal</td>
        </tr>
    </thead>
    <thody>
        @foreach (var item in Model)
        {
            <tr style="background-color: rgba(247, 180, 155,0.7); color:#fff;">
                <td>@item.cantidad_compra</td>
                <td>@item.fecha_entregado</td>
                @foreach (var item1 in ViewBag.Lista_Productos)
                {
                    if (item1.Cod_Producto==item.cod_prod_dc)
                    {
                        <td>@item1.nombreProducto</td>
                    }
                }
                <td>@item.dedicatoria</td>
                <td>@item.Total_Detalle<!---->Bs</td>
            </tr>
        }
    </thody>
</table>
<style>
   
</style>