@model Detalle_Exquisito.Models.Usuarios_Modelos.Tabla_User
@{
    ViewBag.Title = "Nuevo usuario para ";
    List<SelectListItem> Roles_items = (List<SelectListItem>)ViewBag.Roles_items;
    List<SelectListItem> nomPersonas = (List<SelectListItem>)ViewBag.nomPersonas;
}

<h3 style="font-weight:600;">@ViewBag.Title @ViewBag.nombreUser</h3>

@using (Html.BeginForm("Agregar_user_Person", "Usuarios", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.correo_Electronico)
                @Html.TextBoxFor(d => d.correo_Electronico, "", new { @class = "form-control", @autocomplete = "off" })
                @Html.ValidationMessageFor(d => d.correo_Electronico, null, new { @class = "rojo" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.contraseña)
                @Html.PasswordFor(d => d.contraseña, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.contraseña, null, new { @class = "rojo" })
            </div>
           
            <br />

            <div>
                @Html.LabelFor(d => d.rol_usuario)
                @Html.DropDownList("rol_usuario", Roles_items, "Selecciona un Rol", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.rol_usuario, null, new { @class = "rojo" })
            </div>

            <br />
            <div>
                @Html.HiddenFor(d => d.ID_Persona)
            </div>

            <div style="margin-top:10px;">
                <input type="submit" name="name" value="Registrar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@Html.Partial("_Error_Ingreso")

